@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 2rem;
    font-family: Poppins;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1.5em;
    border-radius: .5em;
    background: #080808;
    box-shadow: 0 .2em .5em black;
}

.foto-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foto-container span {
    position: relative;
    --size: 8rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.foto-container p:first-child {
    font-weight: 800;
    font-size: 1.4em;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.foto-container .doador, .foto-container .receptor {
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
}

.foto-container .doador::before, .foto-container .receptor::before {
    content: '';
    display: block;
    --size: .6em;
    height: var(--size);
    width: var(--size);
    border: .2em solid;
    border-radius: 50%;
}

.foto-container .doador::before {
    border-color: #3f0;
}

.foto-container .receptor::before {
    border-color: #06f;
}

.phone-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: flex-end;
}